html {
  background-color:black ;

}

body {
   
}

h1 {
  background-color: white;
  display: flexbox;
  padding: 5px;
  margin: 35px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 
  'Arial Narrow Bold', sans-serif;
}
#photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  margin: 25px;
  align-content: space-around;
  width: ;

}
img {
  width: 300px;
  height: 350px;
  padding: 10px;
}